USE [master]
GO
/****** Object:  Database [inventario_universidad]    Script Date: 31/12/2024 01:01:08 ******/
CREATE DATABASE [inventario_universidad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'inventario_universidad', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\inventario_universidad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'inventario_universidad_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\inventario_universidad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [inventario_universidad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [inventario_universidad]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IDCATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CATEGORIA] [varchar](50) NOT NULL,
	[URL_CATEGORIA] [varchar](260) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[IDINVENTARIO] [int] IDENTITY(1,1) NOT NULL,
	[IDSALON] [int] NOT NULL,
	[IDMODELO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDINVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODELO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELO](
	[IDMODELO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_MODELO] [varchar](60) NOT NULL,
	[MARCA] [varchar](30) NOT NULL,
	[URL_MODELO] [varchar](260) NULL,
	[IDCATEGORIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMODELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALON]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALON](
	[IDSALON] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_SALON] [varchar](50) NOT NULL,
	[UBICACION] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSALON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_INVENTARIO_MODELO] FOREIGN KEY([IDMODELO])
REFERENCES [dbo].[MODELO] ([IDMODELO])
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [FK_INVENTARIO_MODELO]
GO
ALTER TABLE [dbo].[INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_INVENTARIO_SALON] FOREIGN KEY([IDSALON])
REFERENCES [dbo].[SALON] ([IDSALON])
GO
ALTER TABLE [dbo].[INVENTARIO] CHECK CONSTRAINT [FK_INVENTARIO_SALON]
GO
ALTER TABLE [dbo].[MODELO]  WITH CHECK ADD  CONSTRAINT [FK_MODELO_CATEGORIA] FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([IDCATEGORIA])
GO
ALTER TABLE [dbo].[MODELO] CHECK CONSTRAINT [FK_MODELO_CATEGORIA]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_CATEGORIA]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE_CATEGORIA]
@IDCATEGORIA INT
AS
DELETE FROM CATEGORIA  WHERE IDCATEGORIA=@IDCATEGORIA;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_INVENTARIO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE_INVENTARIO]
@IDINVENTARIO INT
AS
DELETE FROM INVENTARIO WHERE IDINVENTARIO = @IDINVENTARIO;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_MODELO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_MODELO]
@IDMODELO INT
AS
DELETE FROM MODELO WHERE IDMODELO = @IDMODELO;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_SALON]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_SALON]
@IDSALON INT
AS
DELETE FROM SALON WHERE IDSALON = @IDSALON;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CATEGORIA]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERT_CATEGORIA]
@NOMBRE_CATEGORIA VARCHAR(50),
@URL_CATEGORIA VARCHAR(260)
AS
INSERT INTO CATEGORIA (NOMBRE_CATEGORIA, URL_CATEGORIA) VALUES (@NOMBRE_CATEGORIA,@URL_CATEGORIA);
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_INVENTARIO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_INVENTARIO]
@IDSALON INT,
@IDMODELO INT,
@CANTIDAD INT
AS
INSERT INTO INVENTARIO (IDSALON, IDMODELO, CANTIDAD) VALUES (@IDSALON, @IDMODELO, @CANTIDAD);
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_MODELO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_MODELO]
@NOMBRE_MODELO VARCHAR(60),
@MARCA VARCHAR(30),
@URL_MODELO VARCHAR(260),
@IDCATEGORIA INT
AS
INSERT INTO MODELO (NOMBRE_MODELO, MARCA, URL_MODELO, IDCATEGORIA) 
VALUES (@NOMBRE_MODELO, @MARCA, @URL_MODELO, @IDCATEGORIA);
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_SALON]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_SALON]
@NOMBRE_SALON VARCHAR(50),
@UBICACION VARCHAR(150)
AS
INSERT INTO SALON (NOMBRE_SALON, UBICACION) VALUES (@NOMBRE_SALON, @UBICACION);
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOW_CATEGORIA]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOW_CATEGORIA]
AS
SELECT * FROM CATEGORIA;
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOW_INVENTARIO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOW_INVENTARIO]
AS
SELECT 
	I.IDINVENTARIO,
    S.NOMBRE_SALON,
    M.NOMBRE_MODELO,
    I.CANTIDAD
FROM INVENTARIO I
INNER JOIN SALON S ON I.IDSALON = S.IDSALON
INNER JOIN MODELO M ON I.IDMODELO = M.IDMODELO;
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOW_MODELO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOW_MODELO]
AS
SELECT * FROM MODELO;
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOW_SALON]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOW_SALON]
AS
SELECT * FROM SALON;
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOWCAT_MODELO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SHOWCAT_MODELO]
@IDCATEGORIA INT
AS
SELECT * FROM MODELO WHERE IDCATEGORIA = @IDCATEGORIA
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOWID_CATEGORIA]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOWID_CATEGORIA]
@ID INT 
AS
SELECT * FROM CATEGORIA WHERE IDCATEGORIA = @ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOWID_INVENTARIO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOWID_INVENTARIO]
@IDINVENTARIO INT
AS
SELECT 
	I.IDINVENTARIO,
    S.NOMBRE_SALON,
    M.NOMBRE_MODELO,
    I.CANTIDAD
FROM INVENTARIO I
INNER JOIN SALON S ON I.IDSALON = S.IDSALON
INNER JOIN MODELO M ON I.IDMODELO = M.IDMODELO
WHERE I.IDINVENTARIO = @IDINVENTARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOWID_MODELO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOWID_MODELO]
@ID INT
AS
SELECT * FROM MODELO WHERE IDMODELO = @ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOWID_SALON]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOWID_SALON]
@ID INT
AS
SELECT * FROM SALON WHERE IDSALON = @ID;
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOWNAME_CATEGORIA]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOWNAME_CATEGORIA]
@NOMBRE_CATEGORIA VARCHAR(50)
AS
SELECT * FROM CATEGORIA WHERE NOMBRE_CATEGORIA = @NOMBRE_CATEGORIA;
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOWNAME_MODELO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOWNAME_MODELO]
@NOMBRE_MODELO VARCHAR(60)
AS
SELECT * FROM MODELO WHERE NOMBRE_MODELO = @NOMBRE_MODELO;
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOWNAME_SALON]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOWNAME_SALON]
@NOMBRE_SALON VARCHAR(50)
AS
SELECT * FROM SALON WHERE NOMBRE_SALON = @NOMBRE_SALON;
GO
/****** Object:  StoredProcedure [dbo].[SP_SHOWSALON_INVENTARIO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHOWSALON_INVENTARIO]
@IDSALON INT
AS
SELECT 
	I.IDINVENTARIO,
    S.NOMBRE_SALON,
    M.NOMBRE_MODELO,
    I.CANTIDAD
FROM INVENTARIO I
INNER JOIN SALON S ON I.IDSALON = S.IDSALON
INNER JOIN MODELO M ON I.IDMODELO = M.IDMODELO
WHERE I.IDSALON = @IDSALON
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CATEGORIA]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_CATEGORIA]
@IDCATEGORIA INT,
@NOMBRE_CATEGORIA VARCHAR(50),
@URL_CATEGORIA VARCHAR(260)
AS
UPDATE CATEGORIA SET NOMBRE_CATEGORIA = @NOMBRE_CATEGORIA, URL_CATEGORIA = @URL_CATEGORIA WHERE IDCATEGORIA = @IDCATEGORIA;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_INVENTARIO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_INVENTARIO]
@IDINVENTARIO INT,
@IDSALON INT,
@IDMODELO INT,
@CANTIDAD INT
AS
UPDATE INVENTARIO SET IDSALON = @IDSALON, IDMODELO = @IDMODELO, CANTIDAD = @CANTIDAD
WHERE IDINVENTARIO = @IDINVENTARIO;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MODELO]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_MODELO]
@IDMODELO INT,
@NOMBRE_MODELO VARCHAR(60),
@MARCA VARCHAR(30),
@URL_MODELO VARCHAR(260),
@IDCATEGORIA INT
AS
UPDATE MODELO SET NOMBRE_MODELO = @NOMBRE_MODELO, MARCA = @MARCA, URL_MODELO = @URL_MODELO,
      IDCATEGORIA = @IDCATEGORIA WHERE IDMODELO = @IDMODELO;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SALON]    Script Date: 31/12/2024 01:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_SALON]
@IDSALON INT,
@NOMBRE_SALON VARCHAR(50),
@UBICACION VARCHAR(150)
AS
UPDATE SALON SET NOMBRE_SALON = @NOMBRE_SALON, UBICACION = @UBICACION
WHERE IDSALON = @IDSALON;
GO
USE [master]
GO
