<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="DataAccess.Properties.Settings.Cn" connectionString="Data Source=DESKTOP-VLOGC5S\SQLEXPRESS;Initial Catalog=inventario_universidad;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />-->
		<add name="DataAccess.Properties.Settings.Cn" connectionString="Data Source=DESKTOP-VLOGC5S\SQLEXPRESS;Initial Catalog=db_inventario;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>